@model BookingOrderViewModel



<form asp-action="OrderTickets" asp-controller="UserBookings" method="post" novalidate>
    <input type="hidden" asp-for="BookingInfo.UserId" />
    <input type="hidden" asp-for="BookingInfo.EventId" />

    <div class="booking-form-group">
        <input asp-for="BookingInfo.FirstName" class="form-input" placeholder="First Name" />
    </div>
    <div class="booking-form-group">
        <input asp-for="BookingInfo.LastName" class="form-input" placeholder="Last Name" />
    </div>
    <div class="booking-form-group">
        <input asp-for="BookingInfo.StreetName" class="form-input" placeholder="Street Name" />
    </div>
    <div class="booking-form-group">
        <input asp-for="BookingInfo.PostalCode" class="form-input" placeholder="Postal Code" />
    </div>
    <div class="booking-form-group">
        <input asp-for="BookingInfo.City" class="form-input" placeholder="City" />
    </div>
    <div class="booking-form-group">
        <input asp-for="BookingInfo.Email" class="form-input" placeholder="Email" />
    </div>
    <div class="booking-form-group">
        <input asp-for="BookingInfo.Phone" class="form-input" placeholder="Phone Number" />
    </div>

    <input type="hidden" asp-for="TicketInfo.TicketId" />

    <div class="booking-form-group">
        <label asp-for="TicketInfo.TicketCategory">Ticket Type</label>
        <select asp-for="TicketInfo.TicketCategory"
                asp-items="Model.TicketInfo.CategoryList"
                class="form-input">
        </select>
    </div>

    <div class="booking-form-quantity">
        <label asp-for="TicketInfo.TicketQuantity">Quantity</label>
        <select asp-for="TicketInfo.TicketQuantity"
                asp-items="Model.TicketInfo.QuantityList"
                class="booking-form-quantity-input">
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Order</button>
</form>
