<nav class="sidebar" id="sidebar">
    <div class="nav-logo">
        <img src="https://ventixe.blob.core.windows.net/ventixe-container/ventixeLogo.svg" alt="Ventixe Logo" />
    </div>

    <ul class="nav-menu">
        <li class="nav-item">
            <div class="nav-icon">
                <img src="https://ventixe.blob.core.windows.net/ventixe-container/grid_view_24dp_000_FILL0_wght400_GRAD0_opsz24.svg" alt="Dashboard" />
            </div>
            <a asp-controller="Home" asp-action="Dashboard" class="nav-link">
               
                <span class="nav-text">Dashboard</span>
            </a>
        </li>

        <li class="nav-item">

                <div class="nav-icon">
                    <img src="https://ventixe.blob.core.windows.net/ventixe-container/check_box_24dp_000_FILL0_wght400_GRAD0_opsz24.svg" alt="Bookings" />
                </div>
                @if (User.IsInRole("Admin"))
                {
                    <a asp-controller="AdminBookings" asp-action="Index" class="nav-link">
                        <span class="nav-text">Bookings</span>
                    </a>
                }
                else
                {
                    <a asp-controller="UserBookings" asp-action="Index" class="nav-link">
                        <span class="nav-text">Bookings</span>
                    </a>
                }
        </li>

        <li class="nav-item">
            <div class="nav-icon">
                <img src="https://ventixe.blob.core.windows.net/ventixe-container/receipt_24dp_000_FILL0_wght400_GRAD0_opsz24.svg" alt="Invoices" />
            </div>
            @if (User.IsInRole("Admin"))
            {
                    <a asp-controller="AdminInvoices" asp-action="Index" class="nav-link">
                        <span class="nav-text">Invoices</span>
                    </a>
            }
            else
            {
                    <a asp-controller="Invoices" asp-action="Index" class="nav-link">
                        <span class="nav-text">Invoices</span>
                    </a>
            }
        </li>

        <li class="nav-item">
            <div class="nav-icon">
                <img src="https://ventixe.blob.core.windows.net/ventixe-container/mail_24dp_000_FILL0_wght400_GRAD0_opsz24.svg" alt="Inbox" />
            </div>
            <a asp-controller="Inbox" asp-action="Inbox" class="nav-link">  
                <span class="nav-text">Inbox</span>
            </a>
        </li>

        <li class="nav-item">
            <div class="nav-icon">
                <img src="https://ventixe.blob.core.windows.net/ventixe-container/calendar_month_24dp_000_FILL0_wght400_GRAD0_opsz24.svg" alt="Calendar" />
            </div>
            <a asp-controller="Calendar" asp-action="Calendar" class="nav-link">
               
                <span class="nav-text">Calendar</span>
            </a>
        </li>

        <li class="nav-item">
            <div class="nav-icon">
                <img src="https://ventixe.blob.core.windows.net/ventixe-container/local_activity_24dp_000_FILL0_wght400_GRAD0_opsz24.svg" alt="Events" />
            </div>
            <a asp-controller="Events" asp-action="Events" class="nav-link">
                

                <span class="nav-text">Events</span>
            </a>
        </li>

        <li class="nav-item">
            <div class="nav-icon">
                <img src="https://ventixe.blob.core.windows.net/ventixe-container/payments_24dp_000_FILL0_wght400_GRAD0_opsz24.svg" alt="Financials" />
            </div>
            <a asp-controller="Financials" asp-action="Financials" class="nav-link">
               
                <span class="nav-text">Financials</span>
            </a>
        </li>

        <li class="nav-item">
            <div class="nav-icon">
                <img src="https://ventixe.blob.core.windows.net/ventixe-container/photo_library_24dp_000_FILL0_wght400_GRAD0_opsz24.svg" alt="Gallery" />
            </div>
            <a asp-controller="Gallery" asp-action="Gallery" class="nav-link">
               
                <span class="nav-text">Gallery</span>
            </a>
        </li>

        <li class="nav-item">
            <div class="nav-icon">
                <img src="https://ventixe.blob.core.windows.net/ventixe-container/star_24dp_000_FILL0_wght400_GRAD0_opsz24.svg" alt="Feedback" />
            </div>
            <a asp-controller="Feedback" asp-action="Feedback" class="nav-link">
                
                <span class="nav-text">Feedback</span>
            </a>
        </li>

        <li class="nav-banner">
            <div class="nav-banner-content">
                <img src="https://ventixe.blob.core.windows.net/ventixe-container/Promotional Banner.svg" alt="Promotional Banner" />
            </div>
        </li>

        <li class="nav-item">
            <div class="nav-icon">
                <img src="https://ventixe.blob.core.windows.net/ventixe-container/logout_24dp_000_FILL0_wght400_GRAD0_opsz24.svg" alt="Logout" />
            </div>
            <a asp-controller="Login" asp-action="Logout" class="nav-link">
                
                <span class="nav-text">Sign Out</span>
            </a>
        </li>
    </ul>
</nav>